body {
  margin: 0;
  height: 100%;
  background-size:cover;
  background-image: url(img/bg.png);
  background-color: #c7b39b;
}

#title {
  position: absolute;
  left: 45%;
  text-shadow: 1px 1px 2px black, 0 0 1em green;
  color: white; 
  font-size: 20px;
}

#info {
  width: 250px;
  height: 80px;
  font-size: 16px;
  border: 1px solid #42D0FC;
  border-radius: 5px;
  color: black;
}

#pet {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

#option {
  float: right;
  margin-right: 20%;
  margin-top:15%;
  font-family: fantasy;
  font-size: 23px;
}

progress {
  border: 1px solid blue;
  border-radius: 5px;
}

div p input {
  color:black;
  font-family: fantasy;
  font-size: 20px;
}

#time {
  font-family: fantasy;
  font-size: 20px;
  position: absolute;
  right: 2%;
  top:2%;
}

#stat-kill:hover {
  color: red;
}



